.card-box .css-1qw96cp {
    padding: 0px !important;
    width: 100% !important;
    margin-top: .5rem !important;
    font-size: .9rem !important;
    color: #333 !important;
}
.card-box .card-img {
    position: relative;
}
.card-box .card-img svg {
    position: absolute;
    top: -6%;
    right: -2%;
    color: #666;
    font-size: 2rem;
    background-color: #fff;
    padding: .5rem;
    border-radius: 5px;
    cursor: pointer;
}
.card-box .css-bhp9pd-MuiPaper-root-MuiCard-root {
    border-radius: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #fff;
}
.card-box .css-46bh2p-MuiCardContent-root {
    padding: 0;
}
.card-box .css-46bh2p-MuiCardContent-root p {
    font-size: .85rem;
    margin-top: 0.8rem;
}
.card-box h6 {
    color: orangered;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}
.card-box del,
.card-box small {
    color: #aaa;
    font-size: 0.7rem;
}
.card-box .rating small {
    margin-top: .5rem;
}
.card-box span {
    font-size: 0.9rem;
}

/* pagination */
.pagination {
    justify-content: end;
}
.pagination .css-1itoclz-MuiButtonBase-root-MuiPaginationItem-root {
    margin: 0 .3rem;
    border-color: #999;
    border-radius: 0%;
}
.pagination .css-1itoclz-MuiButtonBase-root-MuiPaginationItem-root:hover {
    border-color: orangered;
    color: orangered !important;
    background: none !important;
}
.pagination .css-1itoclz-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    background-color: orangered;
    color: #fff;
    border-color: orangered;
}
.pagination .css-1itoclz-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected:hover {
    background-color: rgb(237, 63, 0) !important;
    color: #fff !important;
    border-color: orangered !important;
}

@media (max-width: 400px) {
    .product-list {
        width: 100% !important;
    }
}